
      <div id="rev_slider_1081_1_wrapper" class="rev_slider_wrapper ms-hero-rev fullscreen-container" data-alias="sleek-landing-page" data-source="gallery" style="background-color:transparent;padding:0px;">
        <!-- START REVOLUTION SLIDER 5.3.0.2 fullscreen mode -->
        <div id="rev_slider_1081_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.3.0.2">
          <ul>
            <!-- SLIDE  -->
            <li data-index="rs-3060" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="1000" data-thumb="assets/site/plugins/revolution/assets/images/"
              data-rotate="0" data-saveperformance="off" data-title="Solution" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
              <!-- MAIN IMAGE -->
              <img src="assets/site/plugins/revolution/assets/images/dummy.png" style='background-color:#2aa2b0' alt="" data-lazyload="assets/site/plugins/revolution/assets/images/transparent.png" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                class="rev-slidebg" data-no-retina>
              <!-- LAYERS -->
              <!-- LAYER NR. 1 -->
              <div class="tp-caption   tp-resizeme" id="slide-3060-layer-1" data-x="['left','left','left','left']" data-hoffset="['45','45','45','20']" data-y="['top','top','top','top']" data-voffset="['30','30','30','30']" data-fontsize="['150','150','100','70']"
                data-lineheight="['150','150','100','70']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-basealign="slide" data-responsive_offset="on" data-frames='[{"from":"y:bottom;","speed":1500,"to":"o:1;","delay":600,"ease":"Power4.easeOut"},{"delay":"wait","speed":500,"to":"y:top;","ease":"Power2.easeIn"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5; white-space: nowrap; font-size: 150px; line-height: 150px; font-weight: 900; color: rgba(0, 0, 0, 0.05);font-family:Lato;text-transform:left;border-width:0px;">Eventos e projetos,</div>
              <!-- LAYER NR. 2 -->
              <div class="tp-caption   tp-resizeme" id="slide-3060-layer-2" data-x="['left','left','left','left']" data-hoffset="['45','45','45','20']" data-y="['top','top','top','top']" data-voffset="['169','169','132','101']" data-fontsize="['150','150','100','70']"
                data-lineheight="['150','150','100','70']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-basealign="slide" data-responsive_offset="on" data-frames='[{"from":"y:bottom;","speed":1500,"to":"o:1;","delay":700,"ease":"Power4.easeOut"},{"delay":"wait","speed":650,"to":"y:top;","ease":"Power2.easeIn"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6; white-space: nowrap; font-size: 150px; line-height: 150px; font-weight: 900; color: rgba(0, 0, 0, 0.05);font-family:Lato;text-transform:left;border-width:0px;">Igrejas </div>
              <!-- LAYER NR. 3 -->
              <div class="tp-caption  tp-resizeme" id="slide-3060-layer-3" data-x="['left','left','left','left']" data-hoffset="['45','45','45','20']" data-y="['top','top','top','top']" data-voffset="['308','308','235','172']" data-fontsize="['150','150','100','70']"
                data-lineheight="['150','150','100','70']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-basealign="slide" data-responsive_offset="on" data-frames='[{"from":"y:bottom;","speed":1500,"to":"o:1;","delay":800,"ease":"Power4.easeOut"},{"delay":"wait","speed":800,"to":"y:top;","ease":"Power2.easeIn"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7; white-space: nowrap; font-size: 150px; line-height: 150px; font-weight: 900; color: rgba(0, 0, 0, 0.05);font-family:Lato;text-transform:left;border-width:0px;">e mais. </div>
              <!-- LAYER NR. 4 -->
              <div class="tp-caption SleekLanding-Title   tp-resizeme" id="slide-3060-layer-7" data-x="['left','left','left','left']" data-hoffset="['700','580','420','230']" data-y="['middle','middle','middle','middle']" data-voffset="['-99','-99','-99','-119']"
                data-fontsize="['35','35','35','25']" data-lineheight="['40','40','40','30']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":900,"ease":"Power4.easeOut"},{"delay":"wait","speed":500,"to":"y:-50px;opacity:0;","ease":"Power2.easeIn"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 8; white-space: nowrap; font-weight: 700;text-transform:left;">Encontre igrejas
                <br/>por Geolocalização. </div>
              <!-- LAYER NR. 5 -->
              <div class="tp-caption   tp-resizeme" id="slide-3060-layer-8" data-x="['left','left','left','left']" data-hoffset="['700','580','420','230']" data-y="['middle','middle','middle','middle']" data-voffset="['1','1','1','-4']" data-width="['320','320','320','200']"
                data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power4.easeOut"},{"delay":"wait","speed":500,"to":"y:-50px;opacity:0;","ease":"Power2.easeIn"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 9; min-width: 320px; max-width: 320px; white-space: normal; font-size: 15px; line-height: 24px; font-weight: 400; color: rgba(255, 255, 255, 1.00); font-family:Lato; text-transform:left; border-width:0px;">Levamos as coisas a um nível totalmente novo com este site.
                <br/> Você vai amar! </div>
              <!-- LAYER NR. 6 -->
              <div class="tp-caption SleekLanding-ButtonBG tp-shape tp-shapewrapper  tp-resizeme" id="slide-3060-layer-9" data-x="['left','left','left','left']" data-hoffset="['700','580','420','230']" data-y="['middle','middle','middle','middle']" data-voffset="['105','105','105','105']"
                data-width="230" data-height="50" data-whitespace="nowrap" data-type="shape" data-responsive_offset="on" data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":1100,"ease":"Power4.easeOut"},{"delay":"wait","speed":500,"to":"y:-50px;opacity:0;","ease":"Power2.easeIn"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 10;font-family:Arial;text-transform:left;"> </div><!-- Fundo vamos la -->
              <!-- LAYER NR. 7 -->
              <div class="tp-caption SleekLanding-SmallTitle   tp-resizeme" id="slide-3060-layer-10" data-x="['left','left','left','left']" data-hoffset="['721','601','441','251']" data-y="['middle','middle','middle','middle']" data-voffset="['106','106','106','106']"
                data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":1150,"ease":"Power4.easeOut"},{"delay":"wait","speed":500,"to":"y:-50px;opacity:0;","ease":"Power2.easeIn"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 14; white-space: nowrap;text-transform:left;">VAMOS LÁ!</div>

                <div class="tp-caption SleekLanding-ButtonBG tp-shape tp-shapewrapper  tp-resizeme" id="slide-3060-layer-9" data-x="['left','left','left','left']" data-hoffset="['1000','580','420','230']" data-y="['middle','middle','middle','middle']" data-voffset="['105','165','165','165']"
                data-width="230" data-height="50" data-whitespace="nowrap" data-type="shape" data-responsive_offset="on" data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":1100,"ease":"Power4.easeOut"},{"delay":"wait","speed":500,"to":"y:-50px;opacity:0;","ease":"Power2.easeIn"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 10;font-family:Arial;text-transform:left;"> </div><!-- Fundo Cadastrar -->
              <!-- LAYER NR. 7 -->
              <div class="tp-caption SleekLanding-SmallTitle   tp-resizeme" id="slide-3060-layer-10" data-x="['left','left','left','left']" data-hoffset="['1021','601','441','251']" data-y="['middle','middle','middle','middle']" data-voffset="['106','166','166','166']"
                data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":1150,"ease":"Power4.easeOut"},{"delay":"wait","speed":500,"to":"y:-50px;opacity:0;","ease":"Power2.easeIn"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 14; white-space: nowrap;text-transform:left;">CADASTRAR</div>

              <!-- LAYER NR. 8 -->
              <div class="tp-caption   tp-resizeme" id="slide-3060-layer-14" data-x="['left','left','left','left']" data-hoffset="['-300','-100','-200','-200']" data-y="['top','top','top','top']" data-voffset="['345','427','763','621']" data-width="none"
                data-height="none" data-whitespace="nowrap" data-type="image" data-responsive_offset="on" data-frames='[{"from":"y:bottom;rZ:90deg;","speed":1500,"to":"o:1;","delay":900,"ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"to":"y:top;rZ:-40deg;","ease":"Power2.easeIn"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 12;text-transform:left;border-width:0px;">
                <img src="assets/site/plugins/revolution/assets/images/dummy.png" alt="" data-lazyload="assets/site/plugins/revolution/assets/images/cloud1.png"
                  data-no-retina> </div>
              <!-- LAYER NR. 9 -->
              <div class="tp-caption   tp-resizeme" id="slide-3060-layer-16" data-x="['left','left','left','left']" data-hoffset="['-13','-50','13','24']" data-y="['top','top','top','top']" data-voffset="['552','564','690','589']" data-width="none" data-height="none"
                data-whitespace="nowrap" data-type="image" data-responsive_offset="on" data-frames='[{"from":"y:bottom;rZ:45deg;","speed":1500,"to":"o:1;","delay":1100,"ease":"Power4.easeOut"},{"delay":"wait","speed":1100,"to":"y:top;rZ:-45deg;","ease":"Power2.easeIn"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 13;text-transform:left;border-width:0px; ">
                <img src="assets/site/plugins/revolution/assets/images/dummy.png" alt="" data-lazyload="assets/site/plugins/revolution/assets/images/cloud2.png"
                  data-no-retina> </div>
              <!-- LAYER NR. 10 -->
              <!-- LAYER NR. 11 -->
              <div class="tp-caption   tp-resizeme" id="slide-3060-layer-11" data-x="['left','left','left','left']" data-hoffset="['853','733','573','383']" data-y="['middle','middle','middle','middle']" data-voffset="['106','106','106','106']" data-width="none"
                data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":1200,"ease":"Power4.easeOut"},{"delay":"wait","speed":500,"to":"y:-50px;opacity:0;","ease":"Power2.easeIn"},{"frame":"hover","speed":"200","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 15; white-space: nowrap; font-size: 30px; line-height: 30px; font-weight: 400; color: rgba(0, 0, 0, 0.25);text-transform:left;border-width:0px;cursor:pointer;">
                <i class="fa fa-church"></i>
              </div>
              <!-- LAYER NR. 12 -->
              <div class="tp-caption   tp-resizeme" id="slide-3060-layer-11" data-x="['left','left','left','left']" data-hoffset="['1153','733','573','383']" data-y="['middle','middle','middle','middle']" data-voffset="['106','166','166','166']" data-width="none"
                data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":1200,"ease":"Power4.easeOut"},{"delay":"wait","speed":500,"to":"y:-50px;opacity:0;","ease":"Power2.easeIn"},{"frame":"hover","speed":"200","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 15; white-space: nowrap; font-size: 30px; line-height: 30px; font-weight: 400; color: rgba(0, 0, 0, 0.25);text-transform:left;border-width:0px;cursor:pointer;">
                <i class="fa fa-plus" onclick="showmodal(2)"></i><!-- icone Cadastrar -->
              </div>
              <!-- LAYER NR. 13 -->
              <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" id="slide-3060-layer-18" data-x="['center','center','center','center']" data-hoffset="['-104','-104','-134','-164']" data-y="['middle','middle','middle','middle']" data-voffset="['-37','-37','-27','-27']"
                data-width="['209','209','207','207']" data-height="['369','369','367','367']" data-whitespace="nowrap" data-type="shape" data-responsive_offset="on" data-frames='[{"from":"opacity:0;","speed":500,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 17;text-transform:left;background-color:rgba(51, 51, 51, 1.00);border-color:rgba(0, 0, 0, 0);border-width:0px;">
              </div>
              <!-- LAYER NR. 14 -->
              <div class="tp-caption   tp-resizeme" id="slide-3060-layer-17" data-x="['center','center','center','center']" data-hoffset="['-104','-104','-134','-164']" data-y="['middle','middle','middle','middle']" data-voffset="['-37','-38','-27','-27']"
                data-width="none" data-height="none" data-whitespace="nowrap" data-type="image" data-responsive_offset="on" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[-100%];","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 18;text-transform:left;border-width:0px;">
                <img src="assets/site/plugins/revolution/assets/images/dummy.png" alt="" data-ww="['207px','207px','207','207px']" data-hh="['367px','367px','367','367px']" width="207" height="367" data-lazyload="assets/site/img/demo/iphone_1.jpg" data-no-retina> </div>
            </li>
            <!-- SLIDE  -->
            
            <!-- SLIDE  -->
            <li data-index="rs-3062" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="1000" data-thumb="assets/site/plugins/revolution/assets/images/"
              data-rotate="0" data-saveperformance="off" data-title="Diversity" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
              <!-- MAIN IMAGE -->
              <img src="assets/site/plugins/revolution/assets/images/dummy.png" style='background-color:#dddddd' alt="" data-lazyload="assets/site/plugins/revolution/assets/images/transparent.png" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                class="rev-slidebg" data-no-retina>
              <!-- LAYERS -->
              <!-- LAYER NR. 30 -->
              <div class="tp-caption   tp-resizeme" id="slide-3062-layer-1" data-x="['left','left','left','left']" data-hoffset="['45','45','45','20']" data-y="['top','top','top','top']" data-voffset="['30','30','30','30']" data-fontsize="['150','150','100','70']"
                data-lineheight="['150','150','100','70']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-basealign="slide" data-responsive_offset="on" data-frames='[{"from":"y:bottom;","speed":1500,"to":"o:1;","delay":600,"ease":"Power4.easeOut"},{"delay":"wait","speed":500,"to":"y:top;","ease":"Power2.easeIn"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 34; white-space: nowrap; font-size: 150px; line-height: 150px; font-weight: 900; color: rgba(0, 0, 0, 0.05);font-family:Lato;text-transform:left;border-width:0px;">SUPREME </div>
              <!-- LAYER NR. 31 -->
              <div class="tp-caption   tp-resizeme" id="slide-3062-layer-2" data-x="['left','left','left','left']" data-hoffset="['45','45','45','20']" data-y="['top','top','top','top']" data-voffset="['169','169','132','101']" data-fontsize="['150','150','100','70']"
                data-lineheight="['150','150','100','70']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-basealign="slide" data-responsive_offset="on" data-frames='[{"from":"y:bottom;","speed":1500,"to":"o:1;","delay":700,"ease":"Power4.easeOut"},{"delay":"wait","speed":650,"to":"y:top;","ease":"Power2.easeIn"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 35; white-space: nowrap; font-size: 150px; line-height: 150px; font-weight: 900; color: rgba(0, 0, 0, 0.05);font-family:Lato;text-transform:left;border-width:0px;">GOODIES </div>
              <!-- LAYER NR. 32 -->
              <div class="tp-caption   tp-resizeme" id="slide-3062-layer-3" data-x="['left','left','left','left']" data-hoffset="['45','45','45','20']" data-y="['top','top','top','top']" data-voffset="['308','308','235','172']" data-fontsize="['150','150','100','70']"
                data-lineheight="['150','150','100','70']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-basealign="slide" data-responsive_offset="on" data-frames='[{"from":"y:bottom;","speed":1500,"to":"o:1;","delay":800,"ease":"Power4.easeOut"},{"delay":"wait","speed":800,"to":"y:top;","ease":"Power2.easeIn"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 36; white-space: nowrap; font-size: 150px; line-height: 150px; font-weight: 900; color: rgba(0, 0, 0, 0.05);font-family:Lato;text-transform:left;border-width:0px;">FREE </div>
              <!-- LAYER NR. 33 -->
              <div class="tp-caption SleekLanding-Title   tp-resizeme" id="slide-3062-layer-7" data-x="['left','left','left','left']" data-hoffset="['700','580','420','230']" data-y="['middle','middle','middle','middle']" data-voffset="['-99','-99','-99','-119']"
                data-fontsize="['35','35','35','25']" data-lineheight="['40','40','40','30']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":900,"ease":"Power4.easeOut"},{"delay":"wait","speed":500,"to":"y:-50px;opacity:0;","ease":"Power2.easeIn"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 37; white-space: nowrap; font-weight: 700; color: rgba(34, 34, 34, 1.00);text-transform:left;">Premium
                <br/> Add-Ons. </div>
              <!-- LAYER NR. 34 -->
              <div class="tp-caption   tp-resizeme" id="slide-3062-layer-8" data-x="['left','left','left','left']" data-hoffset="['700','580','420','230']" data-y="['middle','middle','middle','middle']" data-voffset="['1','1','1','-4']" data-width="['320','320','320','200']"
                data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power4.easeOut"},{"delay":"wait","speed":500,"to":"y:-50px;opacity:0;","ease":"Power2.easeIn"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 38; min-width: 320px; max-width: 320px; white-space: normal; font-size: 15px; line-height: 24px; font-weight: 400; color: rgba(68, 68, 68, 1.00);font-family:Lato;text-transform:left;border-width:0px;">Slider Revolution sports super awesome add-ons that enable truly next level features.
                <br/> Take your website to the next level! </div>
              <!-- LAYER NR. 35 -->
              <div class="tp-caption SleekLanding-ButtonBG tp-shape tp-shapewrapper  tp-resizeme" id="slide-3062-layer-9" data-x="['left','left','left','left']" data-hoffset="['700','580','420','230']" data-y="['middle','middle','middle','middle']" data-voffset="['105','105','105','105']"
                data-width="230" data-height="50" data-whitespace="nowrap" data-type="shape" data-responsive_offset="on" data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":1100,"ease":"Power4.easeOut"},{"delay":"wait","speed":500,"to":"y:-50px;opacity:0;","ease":"Power2.easeIn"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 39;font-family:Arial;text-transform:left;background-color:rgba(255, 255, 255, 0.20);">
              </div>
              <!-- LAYER NR. 36 -->
              <div class="tp-caption   tp-resizeme" id="slide-3062-layer-15" data-x="['left','left','left','left']" data-hoffset="['750','500','400','200']" data-y="['top','top','top','top']" data-voffset="['400','530','800','650']" data-width="none"
                data-height="none" data-whitespace="nowrap" data-type="image" data-responsive_offset="on" data-frames='[{"from":"y:bottom;rZ:-90deg;","speed":1500,"to":"o:1;","delay":1200,"ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"to":"y:top;rZ:45deg;","ease":"Power2.easeIn"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 40;text-transform:left;border-width:0px;">
                <img src="assets/site/plugins/revolution/assets/images/dummy.png" alt="" data-ww="['520px','520','260','260px']" data-hh="['380px','380','190px','190px']" width="520" height="380" data-lazyload="assets/site/plugins/revolution/assets/images/ball.png"
                  data-no-retina> </div>
              <!-- LAYER NR. 37 -->
              <div class="tp-caption   tp-resizeme" id="slide-3062-layer-14" data-x="['left','left','left','left']" data-hoffset="['950','750','550','250']" data-y="['top','top','top','top']" data-voffset="['31','10','25','10']" data-width="none" data-height="none"
                data-whitespace="nowrap" data-type="image" data-responsive_offset="on" data-frames='[{"from":"y:bottom;rZ:90deg;","speed":1500,"to":"o:1;","delay":900,"ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"to":"y:top;rZ:-40deg;","ease":"Power2.easeIn"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 41;text-transform:left;border-width:0px;">
                <img src="assets/site/plugins/revolution/assets/images/dummy.png" alt="" data-ww="['230px','230','165px','165']" data-hh="['290px','290','208px','208']" width="230" height="290" data-lazyload="assets/site/plugins/revolution/assets/images/usb.png"
                  data-no-retina> </div>
              <!-- LAYER NR. 38 -->
              <div class="tp-caption   tp-resizeme" id="slide-3062-layer-16" data-x="['left','left','left','left']" data-hoffset="['-299','-413','-53','-172']" data-y="['top','top','top','top']" data-voffset="['120','150','600','500']" data-width="none"
                data-height="none" data-whitespace="nowrap" data-type="image" data-responsive_offset="on" data-frames='[{"from":"y:bottom;rZ:45deg;","speed":1500,"to":"o:1;","delay":1100,"ease":"Power4.easeOut"},{"delay":"wait","speed":1100,"to":"y:top;rZ:-45deg;","ease":"Power2.easeIn"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 42;text-transform:left;border-width:0px;">
                <img src="assets/site/plugins/revolution/assets/images/dummy.png" alt="" data-ww="['800px','800','400px','400px']" data-hh="['910px','910','455px','455']" width="800" height="910" data-lazyload="assets/site/plugins/revolution/assets/images/headphones.png"
                  data-no-retina> </div>
              <!-- LAYER NR. 39 -->
              <div class="tp-caption SleekLanding-SmallTitle   tp-resizeme" id="slide-3062-layer-10" data-x="['left','left','left','left']" data-hoffset="['721','601','441','251']" data-y="['middle','middle','middle','middle']" data-voffset="['106','106','106','106']"
                data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":1150,"ease":"Power4.easeOut"},{"delay":"wait","speed":500,"to":"y:-50px;opacity:0;","ease":"Power2.easeIn"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 43; white-space: nowrap; color: rgba(34, 34, 34, 1.00);text-transform:left;">GET OUR APP </div>
              <!-- LAYER NR. 40 -->
              <div class="tp-caption   tp-resizeme" id="slide-3062-layer-11" data-x="['left','left','left','left']" data-hoffset="['853','733','573','383']" data-y="['middle','middle','middle','middle']" data-voffset="['106','106','106','106']" data-width="none"
                data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":1200,"ease":"Power4.easeOut"},{"delay":"wait","speed":500,"to":"y:-50px;opacity:0;","ease":"Power2.easeIn"},{"frame":"hover","speed":"200","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 44; white-space: nowrap; font-size: 30px; line-height: 30px; font-weight: 400; color: rgba(0, 0, 0, 0.25);text-transform:left;border-width:0px;cursor:pointer;">
                <i class="fa fa-apple"></i>
              </div>
              <!-- LAYER NR. 41 -->
              <div class="tp-caption   tp-resizeme" id="slide-3062-layer-12" data-x="['left','left','left','left']" data-hoffset="['888','768','608','418']" data-y="['middle','middle','middle','middle']" data-voffset="['105','105','105','105']" data-width="none"
                data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":1250,"ease":"Power4.easeOut"},{"delay":"wait","speed":500,"to":"y:-50px;opacity:0;","ease":"Power2.easeIn"},{"frame":"hover","speed":"200","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 45; white-space: nowrap; font-size: 30px; line-height: 30px; font-weight: 400; color: rgba(0, 0, 0, 0.25);text-transform:left;border-width:0px;cursor:pointer;">
                <i class="fa fa-android"></i>
              </div>
              <!-- LAYER NR. 42 -->
              <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" id="slide-3062-layer-18" data-x="['center','center','center','center']" data-hoffset="['-104','-104','-134','-164']" data-y="['middle','middle','middle','middle']" data-voffset="['-37','-37','-27','-27']"
                data-width="['209','209','207','207']" data-height="['369','369','367','367']" data-whitespace="nowrap" data-type="shape" data-responsive_offset="on" data-frames='[{"from":"opacity:0;","speed":500,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 46;text-transform:left;background-color:rgba(51, 51, 51, 1.00);border-color:rgba(0, 0, 0, 0);border-width:0px;">
              </div>
              <!-- LAYER NR. 43 -->
              <div class="tp-caption   tp-resizeme" id="slide-3062-layer-17" data-x="['center','center','center','center']" data-hoffset="['-104','-104','-134','-164']" data-y="['middle','middle','middle','middle']" data-voffset="['-37','-38','-27','-27']"
                data-width="none" data-height="none" data-whitespace="nowrap" data-type="image" data-responsive_offset="on" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[-100%];","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 47;text-transform:left;border-width:0px;">
                <img src="assets/site/plugins/revolution/assets/images/dummy.png" alt="" data-ww="['207','207px','207','207px']" data-hh="['367','367px','367','367px']" width="207" height="367" data-lazyload="assets/site/img/demo/iphone_3.jpg" data-no-retina> </div>
            </li>
          </ul>
          <div style="" class="tp-static-layers">
            <!-- LAYER NR. 45 -->
            <div class="tp-caption SleekLanding-BottomText   tp-resizeme tp-static-layer" id="slider-1081-layer-2" data-x="['left','left','center','center']" data-hoffset="['20','20','0','-457']" data-y="['bottom','bottom','bottom','bottom']" data-voffset="['30','30','170','90']"
              data-width="none" data-height="none" data-whitespace="nowrap" data-visibility="['on','on','on','off']" data-type="text" data-responsive_offset="on" data-startslide="0" data-endslide="2" data-frames='[{"from":"opacity:0;","speed":500,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
              data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 49; white-space: nowrap;text-transform:left; color: #333;"> &copy Copyright
              <span class="tp-fat">All</span> 2018 </div>
            <!-- LAYER NR. 46 -->
            
            <!-- LAYER NR. 47 -->
            
            <!-- LAYER NR. 48 -->
            
            <!-- LAYER NR. 49 -->
            
            <!-- LAYER NR. 50 -->
            <!-- LAYER NR. 51 -->
            <div class="tp-caption   tp-resizeme tp-static-layer" id="slider-1081-layer-8" data-x="['center','center','center','center']" data-hoffset="['-151','-151','-181','-211']" data-y="['middle','middle','middle','middle']" data-voffset="['6','6','17','17']"
              data-width="none" data-height="none" data-whitespace="nowrap" data-type="image" data-responsive_offset="on" data-startslide="0" data-endslide="2" data-frames='[{"from":"opacity:0;","speed":500,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
              data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 55;text-transform:left;border-width:0px;">
              <img src="assets/site/plugins/revolution/assets/images/dummy.png" alt="" data-ww="['350px','350px','350','350px']" data-hh="['650px','650px','650','650px']" width="350" height="650" data-lazyload="assets/site/plugins/revolution/assets/images/iphone_cutout.png"
                data-no-retina> </div>
          </div>
          <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
        </div>
      </div>
      <!-- END REVOLUTION SLIDER -->
      <div class="btn-back-top">
        <a href="#" data-scroll id="back-top" class="btn-circle btn-circle-primary btn-circle-sm btn-circle-raised ">
          <i class="zmdi zmdi-long-arrow-up"></i>
        </a>
      </div>
    </div>
    <!-- ms-site-container -->
    <div class="ms-slidebar sb-slidebar sb-left sb-style-overlay" id="ms-slidebar">
      <div class="sb-slidebar-container">
        <header class="ms-slidebar-header">
          <div class="ms-slidebar-login">
            <a href="javascript:void(0)" class="withripple">
              <i class="zmdi zmdi-account"></i> Login</a>
            <a href="javascript:void(0)" class="withripple">
              <i class="zmdi zmdi-account-add"></i> Register</a>
          </div>
          <div class="ms-slidebar-title">
            <form class="search-form">
              <input id="search-box-slidebar" type="text" class="search-input" placeholder="Search..." name="q" />
              <label for="search-box-slidebar">
                <i class="zmdi zmdi-search"></i>
              </label>
            </form>
            <div class="ms-slidebar-t">
              <span class="ms-logo ms-logo-sm">M</span>
              <h3>Material
                <span>Style</span>
              </h3>
            </div>
          </div>
        </header>
        <ul class="ms-slidebar-menu" id="slidebar-menu" role="tablist" aria-multiselectable="true">
          <li class="card" role="tab" id="sch1">
            <a class="collapsed" role="button" data-toggle="collapse" href="#sc1" aria-expanded="false" aria-controls="sc1">
              <i class="zmdi zmdi-home"></i> Home </a>
            <ul id="sc1" class="card-collapse collapse" role="tabpanel" aria-labelledby="sch1" data-parent="#slidebar-menu">
              <li>
                <a href="index.html">Default Home</a>
              </li>
              <li>
                <a href="home-generic-2.html">Home Black Slider</a>
              </li>
              <li>
                <a href="home-landing.html">Home Landing Intro</a>
              </li>
              <li>
                <a href="home-landing3.html">Home Landing Video</a>
              </li>
              <li>
                <a href="home-shop.html">Home Shop 1</a>
              </li>
            </ul>
          </li>
          <li class="card" role="tab" id="sch2">
            <a class="collapsed" role="button" data-toggle="collapse" href="#sc2" aria-expanded="false" aria-controls="sc2">
              <i class="zmdi zmdi-desktop-mac"></i> Pages </a>
            <ul id="sc2" class="card-collapse collapse" role="tabpanel" aria-labelledby="sch2" data-parent="#slidebar-menu">
              <li>
                <a href="page-about.html">About US</a>
              </li>
              <li>
                <a href="page-team.html">Our Team</a>
              </li>
              <li>
                <a href="page-product.html">Products</a>
              </li>
              <li>
                <a href="page-services.html">Services</a>
              </li>
              <li>
                <a href="page-faq.html">FAQ</a>
              </li>
              <li>
                <a href="page-timeline_left.html">Timeline</a>
              </li>
              <li>
                <a href="page-contact.html">Contact Option</a>
              </li>
              <li>
                <a href="page-login.html">Login</a>
              </li>
              <li>
                <a href="page-pricing.html">Pricing</a>
              </li>
              <li>
                <a href="page-coming.html">Coming Soon</a>
              </li>
            </ul>
          </li>
          <li class="card" role="tab" id="sch4">
            <a class="collapsed" role="button" data-toggle="collapse" href="#sc4" aria-expanded="false" aria-controls="sc4">
              <i class="zmdi zmdi-edit"></i> Blog </a>
            <ul id="sc4" class="card-collapse collapse" role="tabpanel" aria-labelledby="sch4" data-parent="#slidebar-menu">
              <li>
                <a href="blog-sidebar.html">Blog Sidebar 1</a>
              </li>
              <li>
                <a href="blog-sidebar2.html">Blog Sidebar 2</a>
              </li>
              <li>
                <a href="blog-masonry.html">Blog Masonry 1</a>
              </li>
              <li>
                <a href="blog-masonry2.html">Blog Masonry 2</a>
              </li>
              <li>
                <a href="blog-full.html">Blog Full Page 1</a>
              </li>
              <li>
                <a href="blog-full2.html">Blog Full Page 2</a>
              </li>
              <li>
                <a href="blog-post.html">Blog Post 1</a>
              </li>
              <li>
                <a href="blog-post2.html">Blog Post 2</a>
              </li>
            </ul>
          </li>
          <li class="card" role="tab" id="sch5">
            <a class="collapsed" role="button" data-toggle="collapse" href="#sc5" aria-expanded="false" aria-controls="sc5">
              <i class="zmdi zmdi-shopping-basket"></i> E-Commerce </a>
            <ul id="sc5" class="card-collapse collapse" role="tabpanel" aria-labelledby="sch5" data-parent="#slidebar-menu">
              <li>
                <a href="ecommerce-filters.html">E-Commerce Sidebar</a>
              </li>
              <li>
                <a href="ecommerce-filters-full.html">E-Commerce Sidebar Full</a>
              </li>
              <li>
                <a href="ecommerce-filters-full2.html">E-Commerce Topbar Full</a>
              </li>
              <li>
                <a href="ecommerce-item.html">E-Commerce Item</a>
              </li>
              <li>
                <a href="ecommerce-cart.html">E-Commerce Cart</a>
              </li>
            </ul>
          </li>
          <li class="card" role="tab" id="sch6">
            <a class="collapsed" role="button" data-toggle="collapse" href="#sc6" aria-expanded="false" aria-controls="sc6">
              <i class="zmdi zmdi-collection-image-o"></i> Portfolio </a>
            <ul id="sc6" class="card-collapse collapse" role="tabpanel" aria-labelledby="sch6" data-parent="#slidebar-menu">
              <li>
                <a href="portfolio-filters_sidebar.html">Portfolio Sidebar Filters</a>
              </li>
              <li>
                <a href="portfolio-filters_topbar.html">Portfolio Topbar Filters</a>
              </li>
              <li>
                <a href="portfolio-filters_sidebar_fluid.html">Portfolio Sidebar Fluid</a>
              </li>
              <li>
                <a href="portfolio-filters_topbar_fluid.html">Portfolio Topbar Fluid</a>
              </li>
              <li>
                <a href="portfolio-cards.html">Porfolio Cards</a>
              </li>
              <li>
                <a href="portfolio-masonry.html">Porfolio Masonry</a>
              </li>
              <li>
                <a href="portfolio-item.html">Portfolio Item 1</a>
              </li>
              <li>
                <a href="portfolio-item2.html">Portfolio Item 2</a>
              </li>
            </ul>
          </li>
          <li>
            <a class="link" href="component-typography.html">
              <i class="zmdi zmdi-view-compact"></i> UI Elements</a>
          </li>
          <li>
            <a class="link" href="page-all.html">
              <i class="zmdi zmdi-link"></i> All Pages</a>
          </li>
        </ul>
        <div class="ms-slidebar-social ms-slidebar-block">
          <h4 class="ms-slidebar-block-title">Social Links</h4>
          <div class="ms-slidebar-social">
            <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-facebook">
              <i class="zmdi zmdi-facebook"></i>
              <span class="badge-pill badge-pill-pink">12</span>
              <div class="ripple-container"></div>
            </a>
            <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-twitter">
              <i class="zmdi zmdi-twitter"></i>
              <span class="badge-pill badge-pill-pink">4</span>
              <div class="ripple-container"></div>
            </a>
            <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-google">
              <i class="zmdi zmdi-google"></i>
              <div class="ripple-container"></div>
            </a>
            <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-instagram">
              <i class="zmdi zmdi-instagram"></i>
              <div class="ripple-container"></div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <script src="assets/site/js/plugins.min.js"></script>
    <!-- REVOLUTION JS FILES -->
    <script type="text/javascript" src="assets/site/plugins/revolution/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="assets/site/plugins/revolution/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="assets/site/js/app.min.js"></script>
    <script type="text/javascript">
      var tpj = jQuery;
      tpj(document).ready(function()
      {
        if (tpj("#rev_slider_1081_1").revolution == undefined)
        {
          revslider_showDoubleJqueryError("#rev_slider_1081_1");
        }
        else
        {
          revapi1081 = tpj("#rev_slider_1081_1").show().revolution(
          {
            sliderType: "standard",
            jsFileLocation: "assets/site/plugins/revolution/revolution/js/",
            sliderLayout: "fullscreen",
            dottedOverlay: "none",
            delay: 9000,
            navigation:
            {
              keyboardNavigation: "on",
              keyboard_direction: "vertical",
              mouseScrollNavigation: "carousel",
              mouseScrollReverse: "default",
              onHoverStop: "off",
              touch:
              {
                touchenabled: "on",
                swipe_threshold: 75,
                swipe_min_touches: 1,
                swipe_direction: "vertical",
                drag_block_vertical: false
              },
              bullets:
              {
                enable: true,
                hide_onmobile: true,
                hide_under: 778,
                style: "hermes",
                hide_onleave: false,
                direction: "vertical",
                h_align: "right",
                v_align: "center",
                h_offset: 20,
                v_offset: 0,
                space: 5,
                tmp: ''
              }
            },
            responsiveLevels: [1240, 1024, 778, 480],
            visibilityLevels: [1240, 1024, 778, 480],
            gridwidth: [1240, 1024, 778, 480],
            gridheight: [768, 768, 960, 720],
            lazyType: "smart",
            shadow: 0,
            spinner: "spinner",
            stopLoop: "on",
            stopAfterLoops: 0,
            stopAtSlide: 1,
            shuffle: "off",
            autoHeight: "off",
            fullScreenAutoWidth: "off",
            fullScreenAlignForce: "off",
            fullScreenOffsetContainer: ".header",
            fullScreenOffset: "",
            disableProgressBar: "on",
            hideThumbsOnMobile: "off",
            hideSliderAtLimit: 0,
            hideCaptionAtLimit: 0,
            hideAllCaptionAtLilmit: 0,
            debugMode: false,
            fallbacks:
            {
              simplifyAll: "off",
              nextSlideOnWindowFocus: "off",
              disableFocusListener: false,
            }
          });
        }
      }); /*ready*/
    </script>
    <script type="text/javascript">

      $("#formRegister").submit(function(){
        password  = $("#ms-form-pass-rn").val();
        rpassword = $("#ms-form-pass-r").val();

        if(password != rpassword){
        $("#tabRegister").html('<div class="alert alert-danger alert-dismissible" role="alert">\
                        As senhas não combinam.</div>');
         return false;
        }

        var data = $(this).serialize();
        $.post("/register",{data:data}).done(function(error){
          if(error == ''){
            window.location.href = '/?r=1';
          }else{
            error = JSON.parse(error);
            if(error.username == true){
              $("#tabRegister").html('<div class="alert alert-danger alert-dismissible" role="alert">\
                        Nome de usuário já existe.</div>');
            }else if(error.email == true){
              $("#tabRegister").html('<div class="alert alert-danger alert-dismissible" role="alert">\
                        Email já está cadastrado.</div>');
            }
          }
        })

        return false; 
      });
      
      function showmodal(action){
        if(action == 1){
          $("#ms-register-tab").attr('selected', 'false');
          $("#ms-register-tab").removeClass('active show');
          $("#ms-login-tab").attr('selected', 'true');
          $("#ms-login-tab").addClass('active show');
          $("#ms-recovery-tab").attr('selected', 'false');
          $("#ms-recovery-tab").removeClass('active show');
          $("#ms-account-modal").modal('show');
          $("#rsuccess").html('<div class="alert alert-success alert-dismissible" role="alert">\
                      Cadastro realizado! Faça login para continuar.</div>');
        }else if(action == 0){
          $("#ms-register-tab").attr('selected', 'false');
          $("#ms-register-tab").removeClass('active show');
          $("#ms-login-tab").attr('selected', 'true');
          $("#ms-login-tab").addClass('active show');
          $(".ms-tabs-indicator").css('left','165.984px').css('width','165.984px');
          $("#ms-recovery-tab").attr('selected', 'false');
          $("#ms-recovery-tab").removeClass('active show');
          $("#ms-account-modal").modal('show');
        }else if(action == 2){
          $("#ms-register-tab").attr('selected', 'true');
          $("#ms-register-tab").addClass('active show');
          $("#ms-login-tab").attr('selected', 'false');
          $("#ms-login-tab").removeClass('active show');
          $("#ms-recovery-tab").attr('selected', 'false');
          $("#ms-recovery-tab").removeClass('active show');
          $("#ms-account-modal").modal('show');
        }
    }
     
    </script>
  </body>
</html>
      